.section {
    padding: 3em;
}

.studentsHeader {
    margin-top: 1em;
}

.students {
    padding: 0.5em 1em;
    
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.songs {
    display: flex;
    flex-wrap: wrap;
}

.song { 
    margin: 0.5em 1em 0.5em 0;
    padding: 0.5em 1em;
    min-width: 2in;
    flex-grow: 1;

    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.song h6 {
    margin-bottom: 0;
}

.song .author, .song .notes {
    font-size: 75%;
}

.footnote {
    font-size: 75%;
}